* {
    box-sizing: border-box;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    padding: 18px;
    border-style: dashed;
    border-color: black;
  }

  body {
    /* height: 100vh; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 206, 199);
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);
    grid-gap: .5vmin;
  }
  
  section.grid-container div {
    border-radius: 0%;
    border: 3px solid black;
  }

  #play-again {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    background-color: black;
    color: white;
  }

  #message {
    font-family: 'Dancing Script', cursive;
    padding: 5px;
    font-size: 2rem;
  }