* {
    box-sizing: border-box;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    padding: 18px;
    border-style: dashed;
    border-color: black;
    margin: 50px, 0px, 10px, 0px;
  }

  body {
    /* height: 100vh; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 206, 199);
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(3, 12vmin);
    grid-template-rows: repeat(3, 12vmin);
    grid-gap: .5vmin;
  }
  
  section.grid-container div {
    border-radius: 0%;
    border: 3px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  #play-again {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    background-color: black;
    color: white;
    margin: 20px;
    transition: all 0.3s ease;
  }

  #play-again:hover {
    cursor: pointer;

    transform: scale(1.2);
  }

  #message {
    font-family: 'Dancing Script', cursive;
    padding: 0px;
    font-size: 2rem;
  }